@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
	font-family: 'Ubuntu', sans-serif;
}

#timesheet, #add {
	border: 2px solid #dedede;
	box-shadow: 1px 4px 5px 3px #C0C0C0;
	border-collapse: collapse;
	background-color: #EEEEEE;
	color: #000;
}

td {
	padding: 10px;
}

#timesheet th {
	background-color: #5D74FE;
	color: #C7C7C7;
	height: 50px;
	text-align: left;
}

#timesheet td, #timesheet th {
	border: 1px solid #dedede;
}

#timesheet.
#add {
	max-width: 525px;
}

#add td {
	border: 1px solid #dedede;
}

#timesheet td, #timesheet th {
	width: 80px;
}