<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>HTML</title>
		<meta name="author" content="Kyle" />
		<link rel="stylesheet" type="text/css" href="timesheet.css">
		<script src="angular.min.js"></script>
		<script src="timesheet.js"></script>
		<!-- Date: 2013-10-18 -->
	</head>
	<body>
		<h3>Angular Timesheet App</h3>
		<br>
		<p>
			This is a basic timesheet app created with AngularJS. You are able to enter your name, project, and hours worked and then add them
			to the table for your viewing.
		</p>
		<div ng-app>
			<div ng-controller="timesheetCtrl">
				<br />
				<div id="timesheet-body">
					<table id="timesheet" border="1">
						<thead>
							<tr>
								<td>Name</td>
								<td>Project</td>
								<td>Mon</td>
								<td>Tues</td>
								<td>Wed</td>
								<td>Thur</td>
								<td>Fri</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{item.Name}}</td>
								<td>{{item.Project}}</td>
								<td>{{item.Mon}}</td>
								<td>{{item.Tues}}</td>
								<td>{{item.Wed}}</td>
								<td>{{item.Thur}}</td>
								<td>{{item.Fri}}</td>
								<td>
								<input type="button" value="Remove" ng-click="removeItem($index)" />
								</td>
							</tr>
						</tbody>
					</table>
					<br />
					<br />
					<table id="add">
						<tr>
							<td>Name: </td>
							<td>
							<input type="text" ng-model="item.Name" />
							</td>
						</tr>
						<tr>
							<td>Project: </td>
							<td>
							<input type="text" ng-model="item.Project" />
							</td>
						</tr>
						<tr>
							<td>Monday Hours: </td>
							<td>
							<input type="text" ng-model="item.Mon" />
							</td>
						</tr>
						<tr>
							<td>Tuesday Hours: </td>
							<td>
							<input type="text" ng-model="item.Tues" />
							</td>
						</tr>
						<tr>
							<td>Wednesday Hours: </td>
							<td>
							<input type="text" ng-model="item.Wed" />
							</td>
						</tr>
						<tr>
							<td>Thursday Hours: </td>
							<td>
							<input type="text" ng-model="item.Thur" />
							</td>
						</tr>
						<tr>
							<td>Friday Hours: </td>
							<td>
							<input type="text" ng-model="item.Fri" />
							</td>
						</tr>
						<tr>
							<td colspan="2">
							<input type="Button" value="Add" ng-click="addItem(item)" />
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>

